@import 'swiper/swiper.css';
@import 'swiper/modules/navigation.min.css';
@import 'swiper/modules/autoplay.min.css';
@import 'swiper/modules/effect-fade.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.main-menu {
  display: flex;
  align-items: center;
  height: 100%;
  white-space: nowrap;
  position: relative;
}

.main-menu>li {
  margin: 0 20px;
}

li a::after{
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  position: absolute;
  top: 50%;
  left: 0;
  border-radius: 50%;
  transform: translate(50%,-50%) scale(0);
  background-color: currentColor;
  transition: transform .6s ease;
}

li>a:hover::after {
  transform: translate(50%,-50%) scale(1);
}

svg {
  stroke-miterlimit:10;
  transform: translateZ(0);
}
line:first-of-type {
  transition: stroke-dashoffset .3s ease;
  stroke-dasharray:60 10 30;
  stroke-dashoffset:50;
}

line:last-of-type {
  transition: stroke-dashoffset .3s ease;
  stroke-dasharray:10 10 80;
  stroke-dashoffset: 50;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
