@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-weight: 400;
  font-size: 50px;
  line-height: 1.24em;
  word-wrap: break-word;
}

h2 {
  font-weight: 400;
  font-size: 42px;
  line-height: 1.30952em;
  word-wrap: break-word;
}

h4 {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.42857em;
  word-wrap: break-word;
}

h5 {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.45455em;
  word-wrap: break-word;
}

.main-menu {
  display: flex;
  height: 100%;
  white-space: nowrap;
  position: relative;
}

.main-menu>li {
  margin: 0 20px;
}

svg {
  stroke-miterlimit:10;
  transform: translateZ(0);
}
line:first-of-type {
  transition: stroke-dashoffset .3s ease;
  stroke-dasharray:60 10 30;
  stroke-dashoffset:50;
}

line:last-of-type {
  transition: stroke-dashoffset .3s ease;
  stroke-dasharray:10 10 80;
  stroke-dashoffset: 50;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input.picker[type="date"] {
  position: relative;
}
input.picker[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  color: transparent;
  background: transparent;
}

input[type='date']:not(:focus):in-range::-webkit-datetime-edit-year-field,
input[type='date']:not(:focus):in-range::-webkit-datetime-edit-month-field,
input[type='date']:not(:focus):in-range::-webkit-datetime-edit-day-field,
input[type='date']:not(:focus):in-range::-webkit-datetime-edit-text {
  color: transparent;
}

/* iOS background fix */
& > input[type='date']:empty {
  background-color: #f9f9f6;
}

/* iOS fix for text alignment */
& > input::-webkit-date-and-time-value {
  text-align: left;
  color: rebeccapurple;
}

/* iOS date-placeholder fix */
& > input[type='date']:not(:focus):empty:after {
  position: absolute;
  color: #aaa;
  content: attr(placeholder);
}

